/*Footer*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
    height: 90px;
    position: relative;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    margin-top: 100px;
    color: #808080;
    font-size: 11px;
    /* z-index: 2; */
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 11px;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin: 0 20px 10px 20px;
}

/* footer img{
    width: 80px;
    position: absolute;
} */